*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(red,black,yellow);
}
.imgfundo{
    margin-top: 120px;
}
.countainer1{

    height: 255px   

}
.title1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 60px;
   margin-left: 690px;
   color: white;
}
.img1{
    width: 180px;
    height: 180px;
    margin-top: 40px;
    margin-left: 860px;
}
.countainer2{

    margin-left: 780px;
    margin-right: 900px;
}
.tema1{
    margin-top: 100px;
    margin-left: 100px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tema1 > .camisas1{
    text-decoration: none;
    color: white;
}

.countainer3{

    margin-left: 780px;
    margin-right: 900px;
}
.tema2{
    margin-top: 100px;
    margin-left: 80px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tema2 > .ingressos1{
    text-decoration: none;
    color: white;
}

.countainer4{

    margin-left: 780px;
    margin-right: 900px;

}

.tema3{
    margin-top: 100px;
    margin-left: 100px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tema3 > .sobre1{
    text-decoration: none;
    color: white;
}
.countainer5{
    background-color: black;
    margin-top: 160px;
    height: 250px;
}
.rodape > .txt1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    margin-left: 1200px;
    text-align: center;
}

.rodape > .ig-emoji{
    width: 100px;
    height: auto;
    margin-left: 1600px;
}
